@font-face {
	font-family: 'Roboto';
	src: url('/fonts/roboto/Roboto-Regular.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/roboto/Roboto-Medium.woff2') format('woff2');
}

@font-face {
	font-family: 'Roboto';
	src: url('/fonts/roboto/Roboto-Bold.woff2') format('woff2');
}

@font-face {
	font-family: 'Kalam';
	src: url('/fonts/kalam/Kalam-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Kalam';
	src: url('/fonts/kalam/Kalamn-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Kalam';
	src: url('/fonts/kalam/Kalam-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Quantico';
	src: url('/fonts/quantico/Quantico-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Quantico';
	src: url('/fonts/quantico/Quantico-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'VT323';
	src: url('/fonts/VT323/VT323-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Doppio';
	src: url('/fonts/doppio/DoppioOne-Regular.ttf') format('truetype');
}

