:root {
	/* Font */
	--font-sans: 'Roboto', sans-serif;
	--font-kalam: 'Kalam', sans-serif;
	--font-Quantico: 'Quantico', sans-serif;
	--font-VT323: 'VT323', sans-serif;
	--font-Doppio: 'Doppio', sans-serif;

	--font-10: 1.0rem;
	--font-12: 1.2rem;
	--font-14: 1.4rem;
	--font-16: 1.6rem;
	--font-18: 1.8rem;
	--font-20: 2.0rem;
	--font-22: 2.2rem;
	--font-24: 2.4rem;
	--font-26: 2.6rem;
	--font-28: 2.8rem;
	--font-30: 3.0rem;
	--font-32: 3.2rem;
	--font-35: 3.5rem;
	--font-40: 4.0rem;
	--font-48: 4.8rem;
	--font-96: 9.6rem;

	/* Spacing */
	--spacing-4: 0.4rem;
	--spacing-8: 0.8rem;
	--spacing-10: 1.0rem;
	--spacing-12: 1.2rem;
	--spacing-16: 1.6rem;
	--spacing-18: 1.8rem;
	--spacing-24: 2.4rem;
	--spacing-32: 3.2rem;
	--spacing-42: 4.2rem;
	--spacing-52: 5.2rem;
	--spacing-64: 6.4rem;
	--spacing-75: 7.5rem;
	--spacing-85: 8.5rem;
	--spacing-95: 9.5rem;
	--spacing-105: 10.5rem;
	--spacing-128: 12.8rem;
	--spacing-178: 17.8rem;
	--spacing-256: 25.6rem;
	--spacing-302: 30.2rem;

	/* Post */
	--post-txt-size: 18px;
	--post-txt-length: 70ch;
	--post-txt-height: 40px;

	/* Scrollbar */
	--clr-scrollbar-thumb: hsl(173 10% 20%);

	/* Shadows */
	--shadow-sm: 0px 0px 4px 4px hsl(0 0% 0% / 4%);
	--shadow-md: 0px 0px 10px 4px hsl(0 0% 0% / 10%);
	--shadow-lg: 0px 0px 20px 8px hsl(0 0% 0% / 20%);

	/* Border radius */
	--rounded-4: 4px;
	--rounded-8: 8px;
	--rounded-20: 20px;
}

	

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background-color: none;
}

::-webkit-scrollbar-thumb {
	background-color: var(--clr-scrollbar-thumb);
	border-radius: var(--rounded-20);
}

html {
	font-size: 62.5%;
	scroll-padding-top: var(--spacing-32);
	scrollbar-color: var(--clr-scrollbar-thumb) transparent;
}

html,
body {
	height: 100%;
}

body {
	font-family: var(--font-sans);
	font-size: var(--font-16);
	color: var(--clr-txt);
	background-color: var(--ba-clr-bg);
}

body *:focus {
	outline: none;
	border-radius: var(--rounded-20);
}


h1,
h2 {
	font-family: var(--font-Quantico);
	//text-transform: capitalize;
}

h1 {
	font-size: clamp(var(--font-32), 4vw, var(--font-48));
	line-height: clamp(48px, 6vw, 64px);
}

h2 {
	font-size: clamp(var(--font-24), 4vw, var(--font-32));
	line-height: clamp(32px, 6vw, 48px);
}

h3 {
	font-size: var(--font-24);
	line-height: 32px;
}

h4 {
	
	line-height: 16px;
}

p {
	line-height: 32px;
}

a {
	position: relative;
	color: var(--clr-link-txt);
	font-weight: 700;
	text-decoration: none;
	
	
	z-index: 1;
	transition: all 0.3s ease-out;
	
}

a:hover {
	color: var(--clr-secondary);
	transition: color 0.3s ease;
	
	
}

a::before {
	content: '';
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease;
	background-color: var(--clr-link-background);
	border-radius: 4px;
	z-index: -1;
	
}



img,
iframe,
lite-youtube {
	
}

lite-youtube {
	box-shadow: var(--shadow-lg);
}

lite-youtube::before {
	background: none;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

@media (max-width: 650px) {
	body {
		background-color: var(--ba-clr-bg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}
	h3 {
		font-size: var(--font-18);
		
	}
	h2 {
		font-size: clamp(var(--font-22), 4vw, var(--font-32));
		line-height: clamp(32px, 6vw, 48px);
	}
	h4 {
		font-size: var(--font-14);
		line-height: 16px;
	}
	p {
		font-size: var(--font-14);
		line-height: 24px;
	}
	
	
}