html[data-theme='dark'] {
	/* Global */
	--clr-primary: hsl(173, 100%, 66%);
	--clr-primary-hover-bg: hsla(173, 100%, 66%, 0.111);
	--clr-txt: hsl(0 0% 98%);
	--clr-bg: hsl(210 7% 11%);
	--clr-bg-opc: hsla(210 7% 11% / 0.8);
	--ba-clr-bg: hsl(224, 99%, 3%);
	--clr-image-txt: hsl(259, 90%, 16%);
	--clr-secondary: hsl(10, 87%, 56%);

	--bg: radial-gradient(hsl(173 100% 4%), var(--clr-bg));
	--bg-opacity: 0.4;

	/* Header */
	--ba-header-bg: hsl(224, 45%, 13%);

	/* Slider */
	--clr-txt-sldr: hsl(220 10% 10%);
	--clr-bar-sldr: hsl(0 0% 78%);
	--clr-piplbl-sldr: hsl(0 0% 78%);

	/* Menu */
	--clr-menu-text: hsl(0 0% 78%);
	--clr-menu-bg: linear-gradient(
		180deg,
		hsl(180 7% 14%) 0%,
		hsl(216 7% 14%) 100%
	);
	--ba-clr-menu-bg: hsl(230, 28%, 11%);
	--clr-menu-arrow-bg: hsl(180 7% 14%);
	--clr-menu-border: hsl(0 0% 25%);

	--clr-theme-txt: hsl(177 100% 15%);
	--clr-theme-active: hsl(177 100% 80%);
	--clr-switch-on-bg: hsl(0 0% 24%);
	--clr-switch-off-bg: hsl(0 0% 10%);

	/* Hero */
	--clr-hero-txt: hsl(174 27% 73%);
	--clr-hero-bg: linear-gradient(
		270deg,
		hsl(210, 15%, 13%) 43%,
		hsl(176 19% 15%) 66%
	);
	--ba-clr-hero-bg: hsl(210, 15%, 13%);
	--clr-hero-divider-bg: hsl(0 0% 21%);
	--clr-input-txt: hsl(177 100% 15%);
	--clr-input-bg: hsl(210 13% 24%);
	--clr-input-placeholder-txt: hsl(210 13% 50%);
	--clr-input-border: hsl(0 0% 21%);

	/* Card */
	--clr-card-bg: linear-gradient(
		180deg,
		hsl(180 7% 14%) 0%,
		hsl(216 7% 14%) 100%
	);
	--ba-clr-card-bg: linear-gradient(180deg, rgba(39,39,48,1) 0%, rgba(25,31,48,1) 84%);

	--clr-card-bg2: hsl(180 7% 14%);
	--clr-card-txt: hsl(0 0% 78%);
	--ba-clr-card-bg2: hsl(216 7% 14%);

	/* Chart */
	--clr-chart-line: hsl(0, 0%, 33%);

	/* Title */
	--ba-clr-title-bg: hsl(222, 28%, 14%);

	/* Link */
	--clr-link-txt: hsl(0 100% 98%);
	--clr-link-background: hsl(0 0% 4%);

	/* Footer */
	--clr-footer-txt: hsl(0 0% 78%);
	--clr-footer-bg: hsl(210 7% 11%);
	--ba-clr-footer-bg: hsl(222, 28%, 14%);

	/* Post */
	--post-overlay-bg: radial-gradient(hsl(173 100% 4% / 80%), var(--clr-bg));
	--post-blockquote-txt: hsl(173 100% 94%);
	--post-blockquote-bg: hsl(173 60% 4%);
	--post-blockquote-border: hsl(173 10% 10%);

	--clr-code-bg: hsl(173 60% 4%);
	--clr-code-title: hsl(173 100% 94%);
	--clr-code-border: hsl(173 10% 10%);
	--clr-code-line-number: hsl(173 20% 20%);
	--clr-code-line-highlight: hsl(173 40% 8%);
	--clr-code-inline-txt: hsl(173 100% 94%);
	--clr-code-inline-bg: hsl(173 60% 4%);

	--clr-token-1: hsl(173 100% 66%);
	--clr-token-2: hsl(180 60% 80%);
	--clr-token-3: hsl(173 100% 66%);
	--clr-token-4: hsl(0 0% 98%);
	--clr-token-5: hsl(173 10% 60%);
}

html[data-theme='light'] {
	/* Global */
	--clr-primary: hsl(220 100% 50%);
	--clr-primary-hover-bg: hsla(220, 100%, 50%, 0.11);
	--clr-txt: hsl(220 10% 10%);
	--clr-bg: hsl(0 0% 98%);
	--clr-bg-opc: hsla(0 0% 98% / 0.8);
	--ba-clr-bg: hsl(224, 99%, 97%);
	--clr-image-txt: hsl(259, 24%, 27%);
	--clr-secondary: hsl(10, 87%, 56%);

	--bg: radial-gradient(hsl(0 0% 98%), var(--clr-bg));
	--bg-opacity: 0.6;

	/* Header */
	--ba-header-bg: hsl(224, 38%, 76%);

	/* Slider */
	--clr-txt-sldr:  hsl(0 0% 98%);
	--clr-bar-sldr: hsl(220 10% 40%);
	--clr-piplbl-sldr: hsl(220 10% 40%);

	/* Menu */
	--clr-menu-text: hsl(220 10% 10%);
	--clr-menu-bg: linear-gradient(180deg, hsl(0 0% 98%) 0%, hsl(0 0% 94%) 100%);
	--ba-clr-menu-bg: hsl(222, 70%, 88%);
	--clr-menu-arrow-bg: hsl(0 0% 98%);
	--clr-menu-border: hsl(0 0% 65%);

	--clr-theme-txt: hsl(0 0% 98%);
	--clr-theme-active: hsl(220 100% 60%);
	--clr-switch-on-bg: hsl(220 40% 90%);
	--clr-switch-off-bg: hsl(220 40% 80%);

	/* Hero */
	--clr-hero-txt: hsl(220 10% 40%);
	--clr-hero-bg: linear-gradient(270deg, hsl(0 0% 94%) 43%, hsl(0 0% 98%) 66%);
	--clr-hero-divider-bg: hsl(0 0% 80%);
	--clr-input-txt: hsl(220 10% 98%);
	--clr-input-bg: hsl(0 0% 98%);
	--clr-input-placeholder-txt: hsl(220 10% 60%);
	--clr-input-border: hsl(0 0% 80%);

	/* Card */
	--clr-card-bg: linear-gradient(180deg, hsl(0 0% 98%) 0%, hsl(0 0% 94%) 100%);
	--clr-card-bg2: hsl(0 0% 98%);
	--clr-card-txt: hsl(220 10% 20%);
	--ba-clr-card-bg: linear-gradient(180deg, rgba(236,243,255,1) 0%, rgba(208,218,242,1) 84%);

	/* Title */
	--ba-clr-title-bg: hsl(222, 70%, 92%);

	/* Chart */
	--clr-chart-line: hsl(219, 63%, 87%);

	/* Link */
	--clr-link-txt: hsl(220 10% 10%);
	--clr-link-background: hsl(0 0% 100%);

	/* Footer */
	--clr-footer-txt: hsl(220 10% 10%);
	--clr-footer-bg: hsl(0 0% 98%);
	--ba-clr-footer-bg: hsl(222, 70%, 92%);

	/* Post */
	--post-overlay-bg: radial-gradient(hsl(0 0% 100% / 60%), var(--clr-bg));
	--post-blockquote-txt: hsl(0 0% 40%);
	--post-blockquote-bg: hsl(0 0% 98%);
	--post-blockquote-border: hsl(0 0% 84%);

	--clr-code-bg: hsl(0 0% 98%);
	--clr-code-title: hsl(0 0% 40%);
	--clr-code-border: hsl(0 0% 84%);
	--clr-code-line-number: hsl(0 0% 60%);
	--clr-code-line-highlight: hsl(0 0% 94%);
	--clr-code-inline-txt: hsl(0 0% 98%);
	--clr-code-inline-bg: hsl(0 0% 20%);

	--clr-token-1: hsl(220 100% 50%);
	--clr-token-2: hsl(220 60% 50%);
	--clr-token-3: hsl(220 100% 50%);
	--clr-token-4: hsl(0 0% 20%);
	--clr-token-5: hsl(0 0% 60%);
}